@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Backyard';
  src: url('../public/fonts/BackyardBlack_PERSONAL.ttf');
  font-weight: bold;
  font-style: normal;
}


body {
  @apply bg-base-100 w-screen h-screen overflow-x-hidden;
}

img {
  @apply w-3/5 h-[80] rounded mx-auto;
}
