@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Backyard';
  src: url('../public/fonts/BackyardBlack.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Backyard Italic';
  src: url('../public/fonts/BackyardBlackItalic.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anglican';
  src: url('../public/fonts/AnglicanText.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Old London';
  src: url('../public/fonts/OldLondon.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Black Iron';
  src: url('../public/fonts/BlackIron.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kingthings';
  src: url('../public/fonts/KingthingsSpikeless.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Fighter';
  src: url('../public/fonts/FreedomFighterReg.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Fighter Italic';
  src: url('../public/fonts/FreedomFighterCondensedItalic.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mobile Infantry';
  src: url('../public/fonts/mobile-infantry.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mobile Infantry Italic';
  src: url('../public/fonts/MobileInfantryCondensedItalic.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeuroPolitical';
  src: url('../public/fonts/neuropolitical.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raginy';
  src: url('../public/fonts/RaginyRegular.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rexlia';
  src: url('../public/fonts/rexlia.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Divlit';
  src: url('../public/fonts/divlit.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charmset';
  src: url('../public/fonts/Charmset.ttf');
  font-weight: bold;
  font-style: normal;
}




body {
  @apply bg-base-100 w-screen h-screen overflow-x-hidden;
}

