@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Backyard';
  src: url('../public/fonts/BackyardBlack.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Backyard Italic';
  src: url('../public/fonts/BackyardBlackItalic.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anglican';
  src: url('../public/fonts/AnglicanText.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Black Iron';
  src: url('../public/fonts/BlackIron.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kingthings';
  src: url('../public/fonts/KingthingsSpikeless.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Freedom Fighter';
  src: url('../public/fonts/FreedomFighterReg.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mobile Infantry';
  src: url('../public/fonts/mobile-infantry.otf');
  font-weight: bold;
  font-style: normal;
}


body {
  @apply bg-base-100 w-screen h-screen overflow-x-hidden;
}

